.env
.DS_Store
__pycache__/
*.py[cod]
.ipynb_checkpoints/
reddit_stablediffusion.md
reddit_machinelearning.md
finetune/cache_aa/
finetune/multi_lora_aa/
finetune/wandb
finetune/captions_finetune
.lmao
